<div class="container">
    <div class="table-responsive">
		<div class="row text-white col-11">
			<div class="col-md-3 col-6 Header" *ngFor="let head of headElements"  (click)="sort($event)">
				{{head}}
			</div>
		</div>
		<div class="row col-11 GridColor" *ngFor="let el of elements; let i = index">
			<div class="col-md-3 col-6" >{{el.id}}</div>
			<div class="col-md-3 col-6" >{{el.Name}}</div>
			<div class="col-md-3 col-6" >{{el.Family}}</div>
			<div class="col-md-3 col-6" >{{el.City}}</div>
		</div>
    </div>
</div>